body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  center, .reco-form, .pop-form, .graph{
    margin-top: 120px; /* Add a top margin to avoid content overlay */
  }

#reco-link, #pop-link, #graph-link {
    text-decoration: none !important;
    color: red !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#actors-graph, 
#actress-graph, 
#directors-graph, 
#movies-genres-graph, 
#ratings-genres-graph, 
#ratings-graph, 
#types-graph, 
#producers-graph {
    display: none;
}