{% load static %}
{% block navbar %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="{% url 'home' %}" name="home">
                <img src={% static "img/logo.png" %} width="150">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}