{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            {% include 'navbar.html' %}
        </div>
        <form class='reco-form' method="post">
            {% csrf_token %}
            <label for="recommandation">Enter a film's title</label>
            <input type="text" name="recommandation" required>
            <input type="submit" value="Submit">
            {% if len != 0 and title != "" %}
                <p>{{ phrase }}</p>
                <p>{{ reco | linebreaks }}</p>
            {% endif %}
        </form>
    </div>
    <footer class="page-footer font-small unique-color-dark">
        <!-- Copyright -->
     <div class="footer-copyright text-center py-3">© 2023 Copyright
       <a href="https://github.com/data-IA-2022/Netfloox_David_Sylvine_Evelyne" target="_blank"> Django Netfloox</a>
     </div>
     <!-- Copyright -->
    </footer>
{% endblock content %}