{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            {% include 'navbar.html' %}
        </div>
        <form method="post">
            {% csrf_token %}
            <label for="recommandation">Enter a film's title</label>
            <input type="text" name="recommandation" required>
            <input type="submit">
            {% if len != 0 %}
                <p>{{ reco | linebreaks }}</p>
            {% endif %}
        </form>
    </div>
{% endblock content %}